body{
    margin: 0px;
    padding: 0px;
}

/*============Typography=================*/
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 42px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

header h5{
    margin: 0px 0px 5px 0px;
    font-size: 20px;
    color: #C40983;
}

.section-text{
    width: 25%;
}

.section-text .heading{
    text-indent: 25px;
    margin: 0px;
}

.section-text .subheading{
    margin: 0px;
    line-height: 10px;
}

/*============Header==============*/

header{
    height: 100vh;
    background-image: url("../img/h-e-r-gc.jpg");
    background-size: cover;
}

#branding{
    /*Margin and Padding*/
    margin-left: 50px;
    padding: 5vw;
    /*Position*/
    position: absolute;
    bottom: 0vh;
    left: -5vw;
    /*Color*/
    background: #7a0296;
    height: 30vh;
    width: 90vw;
    -webkit-clip-path: polygon(0 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 100%, 0% 100%);
}
header .text{
    margin-top: 15vh;
}

header #logo{
    margin-left: 8%;
    width: 30%;
}

/*================Form===============*/
button{
    width: 75px;
    height: 25px;
    border: 1px solid #fff;
}

#album .subheading{
    text-align: right;
}

.album-links{
    list-style: none;
}

.album-links li{
    display: inline;
    margin-left: 25px;
    font-size: 25px;
}


/*============== Content =============*/


#content{
    padding: 0px;
    background: #640296;
    height: 90vh;
    color: white;
}

#page-header{
    margin: 0 auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 29%, 0% 100%);
    background: #7a0296;
    height: 30vh;
    width: 100%;
    color: white;
}

#page-heading .text{
    
}

#content .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

#call-to-action{
    -webkit-clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 58%, 100% 0, 100% 100%, 0% 100%);
    height: 30vh;
    position: relative;
    bottom: 15vh;
    background: #490296;
}

/***********Form*******/
#signup{
    margin: auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 20vh;
    color: white;
}

#signup h3{
    margin: 0;
}

#signup h5{
    margin: 0;
}

#album-cover{
    width: 50%;
}

#album-cover img{
    width: 100%;
}
/***************Footer**************/
footer{
    height: 100px;
    background: black;
    position: relative;
}

/*******Icons*********/
.fa-amazon{
    color: #dd7632;
}

/************Table****************/
table{
    padding: 25px;
    border: 1px solid #C40983;
}
.show{
    border-bottom: 1px solid #C40983;
    margin-bottom: 10px;
}